<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Zphisher</title>
    <script>
        function runZphisher() {
            console.log("Request started");
            const outputElement = document.getElementById('output');
            const urlElement = document.getElementById('urls');
            outputElement.innerText = "Запуск zphisher...";

            const eventSource = new EventSource('/run-zphisher/');
            
            eventSource.onmessage = function(event) {
                console.log("Data received", event.data);
                outputElement.innerText += event.data + "\n";
                
                // Проверим, если это ссылка, отобразим её отдельно
                if (event.data.includes("URL")) {
                    urlElement.innerText += event.data + "\n";
                }
            };

            eventSource.onerror = function(error) {
                console.log("Error", error);
                outputElement.innerText = "Произошла ошибка";
                eventSource.close();
            };
        }
    </script>
</head>
<body>
    <h1>Run Zphisher Command</h1>
    <button onclick="runZphisher()">Run Zphisher</button>
    <pre id="output"></pre>
    <h2>Generated Links:</h2>
    <pre id="urls"></pre>
</body>
</html>
